/*FOOTER*/

footer {
  background-color: cadetblue;
  text-align: center;
  height: 100px;
}

footer h1 {
  color: white;
  margin-bottom: 10px;
}

span {
  color: orange;
}

footer p {
  color: rgba(255, 255, 255, 0.3);
}
